{% extends 'customer/base.html' %}

{% block content %}
<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <br>
                <h1 class="sub-title">Contact Us</h1>
                <p><i class="fa fa-paper-plane" aria-hidden="true"></i> helpdesk@letseat.com</p>
                <p><i class="fa fa-phone-square" aria-hidden="true"></i>0123456789</p>
                <div class="social-icons">
                    <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                </div>
                
            </div>
            <div class="contact-right">
                <form name="submit-to-google-sheet">
                    <input type="text" name="Name" placeholder="Your Name" required>
                    <input type="email" name="email" placeholder="Your Email" required>
                    <textarea name="Message" rows="10" placeholder="Your Message"></textarea>
                    <button type="submit"class="btn btn2">Submit</button>
                </form>
                <br>
                <span id="msg"></span>
            </div>
        </div>
    </div>

{% endblock %}