{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
<div id="header">
<div class="container mb-5 pt-5">
    <br>
    <div class="contain-box">
        <div class="contain-row">

            <div class="mt-1 header-text">
                <h1>Food Delivery Service</h1>
            </div>
            <br>
            <div class="order-banner-div">
                <div class="index-card">
                    <h2>Place an Order!</h2>
                    <a href="{% url 'order' %}" class="btn">Order Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}